html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.slide:hover img {
    transform: scale(1.05); /* Image hover effect */
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s ease;
}

.slide:hover .caption {
    opacity: 1; /* Fade in caption on hover */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 50px 15px; /* Adjusted padding */
    cursor: pointer;
    z-index: 10;
    font-size: 32px;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.arrow:hover {
    background-color: #afc2b0;
}
